:root {
  /* Cores principais */
  --color-main: #d2d2d2;
  --color-bg: #3a393a;
  --color-panel-border: #2f2f2f;
  --color-scrollbar: #4c4c4c;

  /* Botões OBS */
  --color-btn-bg: #4c4c4c;
  --color-btn-border: none;
  --color-btn-hover-bg: #7a797a;
  --color-btn-hover-border: none;
  --color-btn-active-bg: #1f1e1f;
  --color-btn-text: #fff;

  /* Switch ativo */
  --color-switch-active-bg: #2196F3;

  /* Campos */
  --color-field-bg: #1f1e1f;
  --color-field-bg-disabled: #4c4c4c;
  --color-field-border: none;

  /* Tabs */
  --color-tab-bg: #4c4c4c;
  --color-tab-border: none;
  --color-tab-active-bg: #1f1e1f;
  --color-tab-active-border: none;
  --color-tabs-separator: #1f1e1f;

  /* Bordas e raio */
  --radius-element: 0.2em;
  --scrollbar-radius: 16px;
  --scrollbar-thickness: 10px;
  --panel-border-style: solid 1px;

  /* Background alternativo */
  --bg-alt-preview: linear-gradient(
    135deg,
    rgba(31,30,31,1) 0%,
    rgba(31,30,31,1) 8%,
    rgba(29,28,29,1) 10%,
    rgba(29,28,29,1) 18%, 
    rgba(31,30,31,1) 20%, 
    rgba(31,30,31,1) 28%, 
    rgba(29,28,29,1) 30%, 
    rgba(29,28,29,1) 38%, 
    rgba(31,30,31,1) 40%, 
    rgba(31,30,31,1) 48%, 
    rgba(29,28,29,1) 50%, 
    rgba(29,28,29,1) 58%, 
    rgba(31,30,31,1) 60%,
    rgba(31,30,31,1) 68%, 
    rgba(29,28,29,1) 70%, 
    rgba(29,28,29,1) 78%, 
    rgba(31,30,31,1) 80%, 
    rgba(31,30,31,1) 88%, 
    rgba(29,28,29,1) 90%, 
    rgba(29,28,29,1) 98%, 
    rgba(31,30,31,1) 100%
  );
}
