:root {
  /* Cores principais */
  --color-main: #fff;
  --color-background: #181819;
  --color-panel-border: #2f2f2f;
  --color-scrollbar: #2f2f2f;

  /* Botões OBS */
  --color-btn-bg: #162458;
  --color-btn-border: #233166;
  --color-btn-hover-bg: #233166;
  --color-btn-hover-border: #364683;
  --color-btn-active-bg: #1f1e1f;
  --color-btn-text: #fff;

  /* Switch ativo */
  --color-switch-active-bg: #244ee7;

  /* Campos de input */
  --color-field-bg: #08080b;
  --color-field-bg-disabled: #28282a;
  --color-field-border: none;

  /* Tabs */
  --color-tab-bg: #212121;
  --color-tab-border: #333336;
  --color-tab-active-bg: #131a30;
  --color-tab-active-border: #252a45;
  --color-tabs-separator: #333336;

  /* Bordas e raios */
  --radius-element: 0;
  --scrollbar-radius: 0;
  --scrollbar-thickness: 7px;
  --panel-border-style: solid 1px;

  /* Background do preview alternativo */
  --bg-alt-preview: linear-gradient(
    135deg,
    #0b0b0c 0%,
    #0b0b0c 8%,
    #08080b 10%,
    #08080b 18%,
    #0b0b0c 20%,
    #0b0b0c 28%,
    #08080b 30%,
    #08080b 38%,
    #0b0b0c 40%,
    #0b0b0c 48%,
    #08080b 50%,
    #08080b 58%,
    #0b0b0c 60%,
    #0b0b0c 68%,
    #08080b 70%,
    #08080b 78%,
    #0b0b0c 80%,
    #0b0b0c 88%,
    #08080b 90%,
    #08080b 98%,
    #0b0b0c 100%
  );
}
